<div class="col-sm">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>Detalle Repartidor</h2>
      <h2 *ngIf="reRecibido">{{reRecibido.name}}</h2>
      <p>DNI: {{reRecibido?.id}}</p>
      <p>Edad: {{reRecibido?.age}}</p>
      <p>Pais origen: {{reRecibido?.countryOfBirth}}</p>
      <p>Capacidad Transporte: {{reRecibido?.transportCapacity}}</p>
      <p>Dueño unidad: {{reRecibido?.ownerUnit}}</p>
<!--       <button class="btn btn-outline-secondary" type="button" (click)="limpiar()">Limpiar</button> -->
    </div>
  </div>

  